<section class="sidebar-ad">
	<h1>Sponsors</h1>

	{% capture lqm_tags %}{{ site.lqm_tags | join: ',' }}{% endcapture %}

	{% comment %} Lake Quicy Media 160x600 {% endcomment %}
	<div style="text-align: center; margin: 10px;">
		<!-- old LQM tag
		<div class="lqm_ad" lqm_publisher="lqm.peterprovost.site" lqm_zone="ron" lqm_format="160x600" lqm_tags="{{ lqm_tags | cgi_escape }}"></div>
		-->
		<div data-type="ad" data-publisher="lqm.peterprovost.site" data-zone="ron" data-format="160x600" data_tags="{{ lqm_tags | cgi_escape }}"></div>
	</div>
</section>
