<section>
	<h1>Sponsors</h1>

	{% comment %} Google AdSense 200x200 square {% endcomment %}
	<div style="text-align: center; margin: 10px;">
		<script type="text/javascript"><!--
			google_ad_client = "ca-pub-8170807087978145";
			/* 200px Square Rich Media */
			google_ad_slot = "5509990499";
			google_ad_width = 200;
			google_ad_height = 200;
			//-->
		</script>
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

	{% comment %} Amazon Associates Gift Cards 180x150 square {% endcomment %}
	<div style="text-align: center; margin: 10px;">
		<iframe src="http://rcm.amazon.com/e/cm?t=peterprovosto-20&o=1&p=14&l=ur1&category=electronicsrot&f=ifr" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
</section>
