{% if site.mse_analytics_tracking_id %} 
<script type="text/javascript"> 
	var _daAnalytics = _daAnalytics || {};
	_daAnalytics.init = function (d) {
	    _daAnalytics.Commands = _daAnalytics.Commands || [];
			for (var a = function (a) { return function () { _daAnalytics.Commands.push([a].concat(Array.prototype.slice.call(arguments, 0))) } }, b = "siteId trackLinkClicks setUserId setProperty setView trackPage trackAction trackEvent trackView setAppId setAccountId setUserId".split(" "), c = 0; c < b.length; c++) 
				_daAnalytics[b[c]] = a(b[c]);
	    _daAnalytics.setAppId(d);
	    var a = document.createElement("script");
	    a.type = "text/javascript";
	    a.src = "//az416426.vo.msecnd.net/scripts/da.js";
	    a.async = !0;
	    var b = document.getElementsByTagName("script")[0];
	    b.parentNode.insertBefore(a, b);
	};
	_daAnalytics.init("{{ site.mse_analytics_tracking_id }}");
	_daAnalytics.trackPage();
</script> 
{% endif %}
