// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/Roboto-Regular-webfont.eot');
    src: url('/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('/fonts/Roboto-Light-webfont.eot');
    src: url('/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/fonts/modernpics-webfont.eot');
    src: url('/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/modernpics-webfont.woff') format('woff'),
         url('/fonts/modernpics-webfont.ttf') format('truetype'),
         url('/fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

$sans: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
$heading-font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;

//$sans: "Optima", sans-serif;
//$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
//$heading-font-family: "Verdana", sans-serif;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;

// Classes for putting icons with or in-place of content

$icons: "ModernPictogramsNormal";

.icon:before {
	content: attr(data-icon);
	font-family: $icons;
	margin-right: 5px;
}

